body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff; /* 배경색을 흰색으로 변경 */
  color: #333; /* 텍스트 색상은 그대로 유지 */
}

header {
  /* background-color: #1dad8e; 헤더의 배경색을 초록색으로 변경 */
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
  max-width: 100%; /* 모바일에서 화면에 꽉 차도록 설정 */
  margin: auto;
  box-sizing: border-box; /* 패딩과 보더를 포함한 전체 너비 계산 */
  background-color: #f9f9f9; /* 메인 컨텐츠의 배경색 변경 */
}

footer {
  background-color: #1dad8e; /* 푸터의 배경색을 초록색으로 변경 */
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative; /* fixed 대신 relative로 변경 */
  bottom: 0;
  width: 100%;
}

button {
  background-color: #1dad8e; /* 버튼의 배경색을 초록색으로 변경 */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 버튼 배경색이 부드럽게 변하도록 추가 */
}

button:hover {
  background-color: #12846e; /* 버튼의 호버 색상을 어두운 초록색으로 변경 */
}
